table {
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

.stats-tables {
  background: #f8f9fa;
  color: #202122;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  text-align: center;
}
